<!doctype html>
<html lang="en" xmlns:th="http://www.thyemleaf.org"
	th:replace="/seller-pages/sellerbase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password | Digital Auction</title>
</head>
<body>
	<section th:object="${data}">
		<div class="card">
			<div class="card-body">
				<form th:action="@{/seller/change-my-password}" method="POST">
					<div class="form-group">
						<label for="myInput">New Password</label> <input
							type="password" class="form-control"
							placeholder="New Password" name="password" id="myInput" required> <i
							onclick="show('myInput')" class="fas fa-eye-slash" id="display"></i>
					</div>
					<div class="form-group">
						<label for="myInput2">Re-Type Password</label> <input
							type="password" class="form-control"
							placeholder="Re-Type Password" id="myInput2" name="retype_pwd" required>
						<i onclick="show('myInput2')" class="fas fa-eye-slash"
							id="display"></i>
					</div>
					<input type="submit" value="Change" class="btn btn-primary">
				</form>
				<script type="text/javascript">
  				
function show(a) {
  var x=document.getElementById(a);
  var c=x.nextElementSibling
  if (x.getAttribute('type') == "password") {
  c.removeAttribute("class");
  c.setAttribute("class","fas fa-eye");
  x.removeAttribute("type");
    x.setAttribute("type","text");
  } else {
  x.removeAttribute("type");
    x.setAttribute('type','password');
 c.removeAttribute("class");
  c.setAttribute("class","fas fa-eye-slash");
  }
}
  </script>



			</div>
		</div>
	</section>
</body>
</html>