<!doctype html>
<html lang="en" xmlns:th="http://www.thyemleaf.org"
	th:replace="/user-pages/userbase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Profile</title>
</head>
<body>
	<section>

		<h3 class="text-center">My Wishlist</h3>

		<br>
		<div th:if="${session.msg}" th:classappend="${session.type}"
			class="alert" role="alert">
			<p th:text="${session.msg}"></p>
			<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
		</div>
		<div style="margin:0px" class="table-responsive">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">PID</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Amount</th>
						<th scope="col">Current Amount</th>
						<th scope="col">Day's Left</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="l:${list}">

						<th th:text="${'DASPIFS'+l.id}"></th>
						<td><a href="#" th:href="@{'/productDetailsById/'+${l.id}}"
							th:text="${l.name}"></a></td>


						<td th:text="${l.category}"></td>

						<td th:text="${l.amount}"></td>
						<td th:text="${l.bid_amount}"></td>
						<td th:text="${l.totalLeftDays>=0}?${l.totalLeftDays}:'0'"></td>

						<td><a th:href="@{'/user/remove-from-wishlist/'+${l.id}}">
								<button class="btn btn-outline-danger btn-sm"
									onclick="alert('Are You Sure Want To Remove This Product')">Remove</button>
						</a></td>
						<br>
					</tr>

				</tbody>
			</table>
		</div>
		<br> <br>
	
	</section>
</body>
</html>