<!doctype html>
<html lang="en" xmlns:th="http://www.thyemleaf.org"
	th:replace="/admin-pages/adminbase::layout(~{::section})">
<head>
<link rel="icon" th:href="@{/img/fav.jpg}" />
<meta charset="UTF-8" />
<title>User Profile | Digital Auction</title>
</head>
<body>
	<section>
		<h3 class="text-center">All Users</h3>

		<div style="margin-left: 30px">
			SORT BY: <a th:href="@{/admin/sorting-user/all/0}"><button
					class="btn btn-outline-primary">ALL</button></a> <a
				th:href="@{/admin/sorting-user/true/0}"><button
					class="btn btn-outline-primary">Verified</button></a> <a
				th:href="@{/admin/sorting-user/false/0}"><button
					class="btn btn-outline-primary">Un Verified</button></a> <a
				th:href="@{/admin/sorting-user/request/0}"><button
					class="btn btn-outline-primary">Seller Requests</button></a><a
				th:href="@{/admin/sorting-user/ROLE_BUYER/0}"><button
					class="btn btn-outline-primary">Buyers</button></a> <a
				th:href="@{/admin/sorting-user/ROLE_SELLER/0}"><button
					class="btn btn-outline-primary">Sellers</button></a>&nbsp; <a
				th:href="@{/admin/sorting-user/archive/0}"><button
					class="btn btn-outline-primary">Archive</button></a> <a
				th:href="@{/admin/sorting-user/unarchive/0}"><button
					class="btn btn-outline-primary">Un Archive</button></a>
		</div>
		<div th:if="${session.msg}" th:classappend="${session.type}"
			class="alert" role="alert">
			<p th:text="${session.msg}"></p>
			<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
		</div>
		<div style="margin: 10px" class="table-responsive">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">UID</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Number</th>
						<th scope="col">Address</th>
						<th scope="col">City</th>
						<th scope="col">State</th>
						<th scope="col">Country</th>
						<th scope="col">Zip-Code</th>
						<th scope="col">Created Date</th>
						<th scope="col">ROLE</th>
						<th scope="col">Status</th>
						<th scope="col">Archive</th>
						<th scope="col">Verified</th>
						<th scope="col">Bank Name</th>
						<th scope="col">A/h Name</th>
						<th scope="col">IFSC Code</th>
						<th scope="col">A/c Number</th>

						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr
						th:classappend="${l.verifiedStatus}?'table-success':'table-danger'"
						class="" th:each="l:${list}">
						<th th:text="${'DAU'+l.id}"></th>

						<td><a href="#"
							th:href="@{'/admin/show-my-products/'+${l.id}+'/0'}"
							th:text="${l.name}"></a></td>


						<td th:text="${l.email}"></td>

						<td th:text="${l.number}"></td>
						<th th:text="${l.address}"></th>
						<td th:text="${l.city}"></td>
						<td th:text="${l.state}"></td>
						<td th:text="${l.country}"></td>
						<td th:text="${l.zipcode}"></td>
						<td th:text="${l.created_date}"></td>
						<td th:text="${l.role}"></td>
						<td th:text="${l.status}"></td>
						<td th:text="${l.archive}"></td>
						<td th:text="${l.verifiedStatus}"></td>
						<td th:text="${l.bank_name}"></td>
						<td th:text="${l.name_on_account}"></td>
						<td th:text="${l.ifsc_code}"></td>
						<td th:text="${l.account_no}"></td>
						<td><div>
								<a th:href="@{'/admin/update-buyer-to-seller/'+${l.id}}"><button
										onclick="alert('This User Will Become SELLER, Are You Sure Want To Continue.. ')">
										<i class='fas fa-user-check' style='font-size: 24px'></i>
									</button> </a> <a th:href="@{'/admin/archive-user/'+${l.id}}"><button
										onclick="alert('Are You Sure Want To Continue.. ')">
										<i class='fas fa-user-slash'
											style='font-size: 24px; color: red;'></i>
									</button></a> <br>
							</div></td>

					</tr>

				</tbody>
			</table>
		</div>
		<br> <br>
		<!-- This is Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li th:classappend="${currentpage!=0}?'':'disabled'"
					class="page-item"><a th:href="@{${currentpage-1}}"
					class="page-link" href="#" tabindex="-1">Previous</a></li>

				<li th:classappend="${currentpage==i-1?'active':''}"
					th:each="i : ${#numbers.sequence(1,totalpages)}" class="page-item"><a
					th:href="@{${i-1}}" class="page-link" href="#"><span
						th:text="${i}"></span></a></li>


				<li th:classappend="${currentpage+1 !=totalpages}?'':'disabled'"
					class="page-item"><a th:href="@{${currentpage+1}}"
					class="page-link" href="#">Next</a></li>
			</ul>
		</nav>
		<script src='https://kit.fontawesome.com/a076d05399.js'
			crossorigin='anonymous'></script>
	</section>

</body>
</html>